doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|Lato:400")


    link(rel="import", href=componentsHost+"/components/presentation/slides")
    link(rel="import", href=componentsHost+"/components/presentation/slide")
    link(rel="import", href=componentsHost+"/components/presentation/code")
    script(src=componentsHost+"/javascripts/vendor/polymer-all/polymer/polymer.min.js")

  body
    block content